@charset "utf-8";


main p#historiaCafe {
    font-size: 0.6rem;
    text-align: justify;
}

main img {
    width: 10rem;
    margin: 10px auto;
    display: block;
}

@media (min-width: 768px) {
    main p#historiaCafe {
        padding: 1.5rem;
        column-count: 2;
        column-gap: 1.5rem;
        font-size: 0.8rem;
    }

    main p#historiaCafe img {
        width: 75%;
    }
}
