@charset "utf-8";

section#bannerIzq, section#bannerDer {
    display: none;
}

main div#partners {
    border: 1px solid red;
}

main div#partners img {
    width: 7rem;
}

/* main div#partner1 img{
    width: 7rem;
} */